main {
  max-width: 80%;
  height: 100vh;
  margin: auto;
  display: grid;
  place-items: center;
  position: relative;
}
main > img {
  max-height: 80vh;
  min-height: 225px;
  object-fit: cover;
}
.controsl {
  position: absolute;
  border-radius: 100%;
}
.next {
  right: -40px;
}
.prev {
  left: -40px;
}
